:root {
  --color-bar: #266150;
  --color-bg: #fdf8f5;
  --color-border: #ddaf94;
  --color-dark: #4f4847;
  --color-nav-text: white;
  --color-contact-bg: #e8cebf;
}

/* universal selector */
* {
  color: var(--color-dark);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* element selector */
body {
  position: relative;
  top: 70px;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
}

header, footer {
  background-color: var(--color-bar);
  height: 60px;
  width: 100%;
  border-bottom: 10px solid var(--color-border);
}

/* class selector */
/* Navigation bar */
.nav-item {
  list-style-type: none;
  text-align: right;
  margin-right: 30px;

}

.nav-item li {
  display: inline;
  margin-left: 30px;
}

.nav-item li a {
  color: var(--color-nav-text);
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

/* Title and picture */
.title {
  background-color: var(--color-bg);
  height: 560px;
}

.title h1 {
  line-height: 70px;
  margin-bottom: 6px;
  font-size: 43px;
}

.title figcaption {
  font-size: 20px;
  margin-top: 15px;
}

/* Contact me section */
.contact-me {
  height: 238px;
  background-color: var(--color-contact-bg);
  border-top: 3px solid var(--color-border);
}

.contact-me h2 {
  font-size: 29px;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Input container */
.inputs-box {
  border: 5px solid var(--color-border);
  border-radius: 20px;
  height: 95px;
  width: 45%;
  margin: 0 auto;
  padding-top: 10px;
}

.inputs-box li {
  list-style-type: none;
  text-align: right;
  margin-right: 10%;
}

.inputs-box input {
  width: 80%;
  margin-top: 5px;
}

.inputs-box button {
  margin-top: 2px;
  height: 35px;
  width: 120px;
  background-color: var(--color-dark);
  color: var(--color-nav-text);
}

/* Footer */
footer {
  border-color: var(--color-dark);
  color: var(--color-nav-text);
  font-size: 19px;
  line-height: 60px;
}